/* Page scrolling and layout */
html, body {
  margin: 0; /* remove default browser margin so elements can be flush with viewport */
  padding: 0;
  box-sizing: border-box;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: auto;
  background: linear-gradient(to right, rgb(0, 0, 0), rgb(22, 22, 22));
}

.nav-i {
  list-style-type: none;
}

.nav-i:hover {
  background-color: white;
  color: black;
}

.nav-i a:hover {
  background-color: white;
  color: black;
}

.nav-i a {
  text-decoration: none;
  color: white;
  padding: 30px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  margin: 0;
  z-index: 1000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

nav ul {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 0;
  height: 56px; /* controls nav height */
  padding: 0;
}

#mainview {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 130px;
  padding-bottom: 70px;
}

#logo{
  height:200px;
  width:200px;
  float:left;
  margin-right:50px;
}

#join{
  margin-top:100px;
}

*{
  font-family:poppins;
}
@keyframes fly {
  from{top:0vh; right:0vh; transform:rotate(-50deg);}
  to{top:50vh; right:20vh; transfrom:rotate(0deg);}
}
@keyframes appear{
  from{opacity: 0;}
  to{opacity: 1;}
}
@keyframes shrinktopage{
  from{padding-bottom:800px;}
  to{padding-bottom:0px;}
}

#red{
  color:white;
  background-color:red;
  padding-right:10px;
  padding-left:10px;
  animation-name:shrinktopage;
  animation-duration: 5s;
  animation-iteration-count: 1;
}
.plane{
  position:absolute;
  height:200px;
  width:400px;
  top:50vh;
  right:20vh;
  animation-name:fly;
  animation-delay: 5s;
  animation-duration: 5s;
  animation-iteration-count: 1;
}
.trail{
  position:absolute;
  height:400px;
  width:300px;
  top:25vh;
  right:0vw;
  animation-name:appear;
  animation-duration: 10s;
  animation-delay:5s;
  animation-iteration-count: 1;
}
.boxes{
  background-color:rgb(255, 255, 255);
  color:rgb(0, 0, 0);
  margin:30px;
  padding:20px;
  border-radius:20px;
  box-shadow:10px 10px rgb(230, 58, 58);
  transition: ease-out 0.5s;
}

.white{
  color:white;
}

.hide{
  animation-name:appear;
  animation-duration:2s;
  animation-iteration-count: 1;
  animation-delay:5s;
}

.flex{
  display:flex;
  justify-content: center;
  align-items: center;
}
.flex-column{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.comedown{
  margin-top:50px;
}
.member{
  height:300px;
  width:300px;
  object-fit:contain;
  background-color:black;
  border-radius:100%;
}
.card:hover{
  background-color:rgb(255, 255, 255);
  color:rgb(0, 0, 0);
  margin:30px;
  padding:30px;
  border-radius:20px;
  box-shadow:15px 15px rgb(230, 58, 58);
  transition: ease-in 0.5s;
}

.role{
  font-family:'Poppins';
  font-size:30px;
  font-weight: bolder;
}

.name{
  font-family:'Open Sans';
  font-size:25px;
}

#btn{
  font-family:'Roboto';
  font-size:35px;
  font-weight: bold;
  padding:20px;
  background-color:rgb(230, 58, 58);
  color:white;
  transition: ease-in-out 1s;
  border:none;
  border-radius:20px;
  padding-right:50px;
  padding-left:50px;
}

#btn:hover{
  padding:30px;
  padding-right:50px;
  padding-left:50px;
  transition: ease 1s;
}

@media screen and (max-width:570px) {
  #flag{
    height:180px;
    width:300px;
  }
}
@media screen and (max-width:450px){
  #flag{
    height:150px;
    width:250px;
  }
  .plane{
    height:100px;
    width:200px;
  }
  .trail{
    height:300px;
    width:200px;
    top:25vh;
    right:0vw
  }
  .member{
    height:100px;
    width:100px;
  }
  .role{
    font-family:'Poppins';
    font-size:20px;
    font-weight: bolder;
  }
  .name{
    font-family:'Open Sans';
    font-size:25px;
  }
}

@media screen and (max-width:370px){
  .plane{
    opacity:0 !important;
  }
  .trail{
    opacity:0 !important; 
  }
  #maintext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width:1220px){
  #clubmembers{
    flex-direction: column;
  }
}